<!DOCTYPE html>
<html lang="es"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="components/htmlComponents::htmlHead"/>
<body id="blog-list" class="d-flex flex-column min-vh-100">
<header th:replace="components/navbars:: navbar-all"></header>

<main>
    <div class="container mt-2 pt-2 pb-5 ">
        <h1 class="h3 mb-4">Últimas entradas de Blog</h1>
        <div class="row">
            <div class="col-12 col-md-3">
                <div class="card pb-4">
                    <div class="card-header px-1">
                        <h4 class="card-title mx-3 mt-3 mb-2">Blogs</h4>
                    </div>
                    <div class="border mb-4"></div>
                    <div class="list-group list-group-flush" role="tablist">
                        <a class="list-group-item list-group-item-action"
                           data-toggle="list"
                           role="tab"
                           th:each="top,i: ${newsList}"
                           th:classappend="${i.count==1?'active':''}"
                           th:id="${top.id}"
                           th:href="|#blog${top.id}|"
                           th:aria-controls="|blog${top.id}|"
                           th:text="${top.title}"/>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-9">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show"
                         role="tabpanel"
                         th:each="news,i: ${newsList}"
                         th:classappend="${i.count==1?'active':''}"
                         th:id="|blog${news.id}|">
                        <a th:href="@{/blog/{id}(id=${news.id})}">
                            <div class="card bg-dark p-2 rounded text-white">
                                <h5 th:text="${news.title}"/>
                                <img class="card-img-top img-fluid blog-img" th:src="${news.image}" alt="banner">
                                <p class="card-text" th:text="${#temporals.format(news.createdAt,'dd-MMM-yyyy')}"></p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
</main>

<footer th:replace="components/htmlComponents::htmlFooter"/>
<div th:replace="components/alerts::alerts" />
</body>
</html>
