<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="components/htmlComponents::htmlHead"/>
<body class="d-flex flex-column min-vh-100">
<header th:replace="components/navbars:: navbar-all"></header>

<main id="blog-main">
    <div class="container py-4">
        <h1 class="h3 mb-3 px-4">Últimas entradas de blog</h1>
        <div class="d-flex justify-content-center row">
            <div class="col-md-3 col-xl-3 mb-4">
                <div class="card pb-4">
                    <div class="card-header px-1">
                        <h4 class="card-title mx-3 mt-3 mb-2">Blogs</h4>
                    </div>
                    <div class="border mb-4"></div>
                    <div class="list-group list-group-flush" role="tablist">
                        <a class="list-group-item list-group-item-action " th:href="@{'/blog/' + ${top.id}}" th:each="top: ${newsTop}" th:text="${top.title}" />
                    </div>
                </div>
            </div>
            <div class="col-9">
                <a th:each="news: ${newsList}" th:href="@{/blog/{id}(id=${news.id})}">
                    <div class="card bg-dark text-white mb-1 demo_wrap">
                        <h5 th:text="${news.title}" />
                        <img class="card-img-top img-fluid blog-img" th:src="${news.image}" alt="banner">
                                <p class="card-text" th:text="${#temporals.format(news.createdAt,'yyyy-MMM-dd')}"></p>
                    </div>
                </a>

            </div>

        </div>

    </div>
</main>

<footer th:replace="components/htmlComponents::htmlFooter"/>
<style>
    .demo_wrap {
        position: relative;
        overflow: hidden;
        padding: 16px;
        border: 1px dashed green;
    }
    .demo_wrap h5 {
        height: 100px;
        position: relative;
        z-index: 2;
    }
    .demo_wrap img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: auto;
        opacity: 0.6;
    }
</style>
</body>
</html>
