<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="components/htmlComponents::htmlHead"/>
<body>
<header th:replace="components/navbars:: navbar-admin"/>
<div class="container py-3">

    <div th:replace="components/titles::titles ('Blog', ${ {'Blog','Administrador'} })"/>

<main id="admin-dashboard">
<div class="row">

    <div class="col-12 col-md-6 col-3  " style="margin-bottom: 2rem; display: grid;">
        <a class="btn btn-info" th:href="@{/blog/save}">Crear</a>
    </div>
    <!-- TABLE 1-->
    <div class="col-12 col-md-6 col-xxl-3 d-flex order-2 order-xxl-3 box" style="margin-bottom: 2rem; display: grid;">
        <div class="card flex-fill w-100 box-container">
            <div class="card-header">
                <h5 class="card-title mb-0">Últimos 5 donadores</h5>
            </div>
            <div class="card-body table-responsive">
                <div class="w-100">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Titulo</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Fecha</th>
                            <th scope="col">Aprobada</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="news,c: ${topNews}">
                            <th scope="row"  th:value="${c.index}"></th>
                            <td th:value="${news.title}"></td>
                            <td th:value="${c.index}"></td>
                            <td>24/02/22</td>
                            <td>
                                <i
                                        style="color: #54d37a"
                                        class="fa-solid fa-check"
                                ></i>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</main>
</div>
<footer th:replace="components/htmlComponents::htmlFooter"/>
</body>
</html>