<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="components/htmlComponents::htmlHead"/>
<body class="d-flex flex-column min-vh-100">
<header th:replace="components/navbars:: navbar-admin"/>

<div class="container py-3">

    <div th:replace="components/titles::titles ('Tamaños', ${ {'Tamaños','Lista'} })"/>

    <form th:action="@{/size/save}" method="post" th:object="${size}">
        <input type="hidden" id="id" name="id" th:field="*{id}"/>
        <div class="form-group">
            <label for="name">Nombre:</label>
            <input type="text" class="form-control"
                   id="name" name="name"
                   aria-describedby="nameHelp"
                   placeholder="Ej: Mediano"
                   th:classappend="${#fields.hasErrors('name')?'is-invalid':''}"
                   th:field="*{name}"
                   autofocus
                   required
                   minlength="2"
                   maxlength="20"
                   pattern="[A-Za-zÀ-ÿ '-.]*"
            />
            <div id="nameHelp"
                 th:classappend="${#fields.hasErrors('name')?'invalid-feedback':''}"
                 th:errors="*{name}">
            </div>
        </div>
        <div class="form-group">
            <label for="range">Rango:</label>
            <input type="text" class="form-control"
                   id="range" name="range"
                   aria-describedby="rangeHelp"
                   placeholder="Ej: Mediano"
                   th:classappend="${#fields.hasErrors('range')?'is-invalid':''}"
                   th:field="*{range}"
                   required
                   minlength="2"
                   maxlength="30"
                   pattern="[A-Za-zÀ-ÿ '-.0-9]*"
            />
            <div id="rangeHelp"
                 th:classappend="${#fields.hasErrors('range')?'invalid-feedback':''}"
                 th:errors="*{range}">
            </div>
        </div>
        <button type="submit" class="btn btn-success">Guardar</button>
    </form>
</div>
<footer th:replace="components/htmlComponents::htmlFooter"/>
</body>
</html>