<!DOCTYPE html>
<html lang="es"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="components/htmlComponents::htmlHead"/>

<body id="about" class="d-flex flex-column min-vh-100">
<header th:replace="components/navbars::navbar-all-aux"></header>
<main>
    <div class="container my-5">
        <div class="first-container mb-5">
            <div class="row ">
                <div class="col-sm-12 text-center">
                    <h1 class="mb-3 text-header">Hola! Somos
                        <span class="text-adoptame">AdoptaMe.
                            </span>
                    </h1>
                    <p class="title-text">Somos una página enfocada a la gestión y adopción de mascotas</p>
                    <p class="subtitle-text">
                        Estamos convencidos que es posible acabar con el maltrato animal, creemos que la sociedad está cambiando y cada vez se preocupa más por la adopción de animales, necesitamos acabar con el maltrato animal promoviendo la adopción de animales, la esterilización, la conciencia sobre el tráfico ilegal de especies en peligro.
                    </p>
                </div>
            </div>
        </div>
        <div class="second-container">
            <div class="row">
                <div class="col-md-12 col-lg-4 mb-4 card-container">
                    <div class="card p-3 box-container">
                        <div class="card-body">
                            <div class="mb-3 text-center">
                                <img src="/img/hector.jpg"
                                     alt="Hector" class="rounded-pill" style="width: 128px; height: 128px;">
                            </div>
                            <p class="primary-text text-center m-0">Hector Saldaña </p>
                            <p class="secondary-text text-center text-muted mb-0"> Programador Frontend </p>
                            <div class="mb-3 phrase-container d-flex justify-content-center align-items-center">
                                <p class="p-text text-center tx-14 ">
                                    ¿Integradora en semana 10?, ¿es un chiste?, ¿qué no pudo esperar más? :)
                                </p>
                            </div>
                            <div class="text-center icons-container px-5 mt-4">
                                <a href="https://www.facebook.com/hector.saldana.5623293/" target="_blank">
                                    <i class="fa-brands fa-facebook"></i>
                                </a>
                                <a href="https://hectorsaldes.netlify.app/" target="_blank">
                                    <i class="fa-solid fa-square-rss"></i>
                                </a>
                                <a href="https://medium.com/@HectorSaldes" target="_blank">
                                    <i class="fa-brands fa-medium"></i>
                                </a>
                                <a href="https://vsco.co/hector19h91/gallery" target="_blank">
                                    <i class="fa-brands fa-instagram"></i>
                                </a>
                                <a href="https://github.com/HectorSaldes" target="_blank">
                                    <i class="fa-brands fa-github"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4 mb-4 card-container">
                    <div class="card p-3 box-container">
                        <div class="card-body">
                            <div class="mb-3 text-center">
                                <img src="/img/loya.jpg"
                                     alt="Loya" class="rounded-pill" style="width: 128px; height: 128px;">
                            </div>
                            <p class="primary-text text-center m-0">Alexis Loya </p>
                            <p class="secondary-text text-center text-muted mb-0"> Programador Backend </p>
                            <div class="mb-3 phrase-container d-flex justify-content-center align-items-center">
                                <p class="p-text text-center tx-14 ">
                                    En términos de java, System.out.print("No usen Java")
                                </p>
                            </div>
                            <div class="text-center icons-container px-5 mt-4">
                                <a href="https://www.twitch.tv/di_frame" target="_blank">
                                    <i class="fa-brands fa-twitch"></i>
                                </a>
                                <a href="https://www.instagram.com/disabled_frame/" target="_blank">
                                    <i class="fa-brands fa-instagram"></i>
                                </a>
                                <a href="https://twitter.com/di_frame" target="_blank">
                                    <i class="fa-brands fa-twitter"></i>
                                </a>
                                <a href="https://github.com/AlexisLoya" target="_blank">
                                    <i class="fa-brands fa-github"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4 mb-4 card-container">
                    <div class="card p-3 box-container">
                        <div class="card-body">
                            <div class="mb-3 text-center">
                                <img src="/img/luis.jpg"
                                     alt="Luis" class="rounded-pill" style="width: 128px; height: 128px;">
                            </div>
                            <p class="primary-text text-center m-0">Luis Álvarez </p>
                            <p class="secondary-text text-center text-muted mb-0"> Diseñador Web </p>
                            <div class="mb-3 phrase-container d-flex justify-content-center align-items-center">
                                <p class="p-text text-center tx-14 ">
                                    Banda, creo que mis cambios rompieron mis cambios
                                </p>
                            </div>
                            <div class="text-center icons-container px-5 mt-4">
                                <a href="https://www.facebook.com/leao98" target="_blank">
                                    <i class="fa-brands fa-facebook"></i>
                                </a>
                                <a href="https://www.instagram.com/luisenriqueao/" target="_blank">
                                    <i class="fa-brands fa-instagram"></i>
                                </a>
                                <a href="https://twitter.com/Luenalor" target="_blank">
                                    <i class="fa-brands fa-twitter"></i>
                                </a>
                                <a href="https://github.com/Luenalor" target="_blank">
                                    <i class="fa-brands fa-github"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-lg-4 col-md-12 mb-4 card-container">
                    <div class="card p-3 box-container">
                        <div class="card-body">
                            <div class="mb-3 text-center">
                                <img src="/img/ruben.jpg"
                                     alt="Ruben" class="rounded-pill" style="width: 128px; height: 128px;">
                            </div>
                            <p class="primary-text text-center m-0">Rubén López</p>
                            <p class="secondary-text text-center text-muted mb-0"> Administrador de BD </p>
                            <div class="mb-3 phrase-container d-flex justify-content-center align-items-center">
                                <p class="p-text text-center tx-14 ">
                                    Eres tú quien debe hacer el esfuerzo, los maestros solo señalan el camino.
                                </p>
                            </div>
                            <div class="text-center icons-container px-5 mt-4">
                                <a href="https://www.facebook.com/profile.php?id=100004763951683" target="_blank">
                                    <i class="fa-brands fa-facebook"></i>
                                </a>
                                <a href="https://github.com/RubenLD" target="_blank">
                                    <i class="fa-brands fa-github"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 mb-4 card-container">
                    <div class="card p-3 box-container">
                        <div class="card-body">
                            <div class="mb-3 text-center">
                                <img src="/img/chris.jpg"
                                     alt="Chris" class="rounded-pill" style="width: 128px; height: 128px;">
                            </div>
                            <p class="primary-text text-center m-0">Christopher Castellano</p>
                            <p class="secondary-text text-center text-muted mb-0"> Tester </p>
                            <div class="mb-3 phrase-container d-flex justify-content-center align-items-center">
                                <p class="p-text text-center tx-14 ">
                                    Cualquier tecnología lo suficientemente avanzada es indistingible de la magia.
                                </p>
                            </div>
                            <div class="text-center icons-container px-5 mt-4">
                                <a href="https://www.facebook.com/christopher.castellanos99" target="_blank">
                                    <i class="fa-brands fa-facebook"></i>
                                </a>
                                <a href="https://github.com/Christopher0809" target="_blank">
                                    <i class="fa-brands fa-github"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="components/htmlComponents::htmlFooter"/>
</body>
</html>
