<!DOCTYPE html>
<html lang="es"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="components/htmlComponents::htmlHead"/>
<body id="about">
<header th:replace="components/navbars::navbar-all"></header>
<main>
    <div class="container mt-5">
        <div class="first-container mb-5">
            <div class="row ">
                <div class="col-sm-12 text-center">
                    <h1 class="mb-3 text-header">Hola! Somos
                        <span class="text-adoptame">AdoptaMe.
                            </span>
                    </h1>
                    <p class="title-text">Somos una página enfocada a la gestión y adopción de mascotas</p>
                    <p class="subtitle-text">There are many variations of passages
                        of Lorem Ipsum available, but the majority have suffered by injected humour, or
                        randomised words which don't look even slightly believable. If you are going to use a
                        passage of Lorem Ipsum you are going to use a passage of Lorem Ipsum</p>
                </div>
            </div>
        </div>
        <div class="second-container">
            <div class="row">
                <div class="col-md-12 col-lg-4 mb-4">
                    <div class="card p-3 box-container">
                        <div class="card-body">
                            <div class="mb-3 text-center">
                                <img src="https://angular.spruko.com/nowa/preview/assets/img/faces/2.jpg"
                                     alt="image" class="rounded-pill">
                            </div>
                            <p class="primary-text text-center m-0">Héctor Saldaña </p>
                            <p class="secondary-text text-center text-muted mb-3"> Programador Frontend </p>
                            <p class="p-text text-center tx-14 mb-3">
                                Lorem ipsum dolor, sit amet
                                consectetur adipisicing elit. Quibusdam similique provident !
                            </p>
                            <div class="text-center icons-container px-5 mt-4">
                                <a href="https://angular.spruko.com/nowa/" target="_blank">
                                    <i class="fa-brands fa-facebook"></i>
                                </a>
                                <i class="fa-brands fa-instagram"></i>
                                <i class="fa-brands fa-twitter"></i>
                                <i class="fa-brands fa-github"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4 mb-4">
                    <div class="card p-3 box-container">
                        <div class="card-body">
                            <div class="mb-3 text-center">
                                <img src="https://angular.spruko.com/nowa/preview/assets/img/faces/2.jpg"
                                     alt="image" class="rounded-pill">
                            </div>
                            <p class="primary-text text-center m-0">Alexis Loya </p>
                            <p class="secondary-text text-center text-muted mb-3"> Programador Backend </p>
                            <p class="p-text text-center tx-14 mb-3">
                                Lorem ipsum dolor, sit amet
                                consectetur adipisicing elit. Quibusdam similique provident !
                            </p>
                            <div class="text-center icons-container px-5 mt-4">
                                <i class="fa-brands fa-twitch"></i>
                                <i class="fa-brands fa-instagram"></i>
                                <i class="fa-brands fa-twitter"></i>
                                <i class="fa-brands fa-github"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4 mb-4">
                    <div class="card p-3 box-container">
                        <div class="card-body">
                            <div class="mb-3 text-center">
                                <img src="https://angular.spruko.com/nowa/preview/assets/img/faces/2.jpg"
                                     alt="image" class="rounded-pill">
                            </div>
                            <p class="primary-text text-center m-0">Luis Álvarez </p>
                            <p class="secondary-text text-center text-muted mb-3"> Diseñador Web </p>
                            <p class="p-text text-center tx-14 mb-3">
                                Lorem ipsum dolor, sit amet
                                consectetur adipisicing elit. Quibusdam similique provident !
                            </p>
                            <div class="text-center icons-container px-5 mt-4">
                                <i class="fa-brands fa-facebook"></i>
                                <i class="fa-brands fa-instagram"></i>
                                <i class="fa-brands fa-twitter"></i>
                                <i class="fa-brands fa-github"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-lg-4 col-md-12 mb-4">
                    <div class="card p-3 box-container">
                        <div class="card-body">
                            <div class="mb-3 text-center">
                                <img src="https://angular.spruko.com/nowa/preview/assets/img/faces/2.jpg"
                                     alt="image" class="rounded-pill">
                            </div>
                            <p class="primary-text text-center m-0">Rubén López</p>
                            <p class="secondary-text text-center text-muted mb-3"> Administrador de BD </p>
                            <p class="p-text text-center tx-14 mb-3">
                                Lorem ipsum dolor, sit amet
                                consectetur adipisicing elit. Quibusdam similique provident !
                            </p>
                            <div class="text-center icons-container px-5 mt-4">
                                <i class="fa-brands fa-facebook"></i>
                                <i class="fa-brands fa-instagram"></i>
                                <i class="fa-brands fa-twitter"></i>
                                <i class="fa-brands fa-github"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 mb-4">
                    <div class="card p-3 box-container">
                        <div class="card-body">
                            <div class="mb-3 text-center">
                                <img src="https://angular.spruko.com/nowa/preview/assets/img/faces/2.jpg"
                                     alt="image" class="rounded-pill">
                            </div>
                            <p class="primary-text text-center m-0">Christopher Castellano</p>
                            <p class="secondary-text text-center text-muted mb-3"> Quality Assurance (AQ) </p>
                            <p class="p-text text-center tx-14 mb-3">
                                Lorem ipsum dolor, sit amet
                                consectetur adipisicing elit. Quibusdam similique provident !
                            </p>
                            <div class="text-center icons-container px-5 mt-4">
                                <i class="fa-brands fa-facebook"></i>
                                <i class="fa-brands fa-instagram"></i>
                                <i class="fa-brands fa-twitter"></i>
                                <i class="fa-brands fa-github"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<footer th:replace="components/htmlComponents::htmlFooter"/>
</body>
</html>
