<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="components/htmlComponents::htmlHead"/>
<body>

<div class="container-fluid">
    <div class="col-2 float-left col-1 collapse  show m-0 p-0" id="sidebar">
        <div>
            <div class="header">
                <a th:href="@{/}" class="logo">
                    <img th:src="@{/img/logo.svg}" style="height: 50px; width: 50px"/>Adopta<span>Me.</span>
                </a>
            </div>
            <div class="my-3">
                <small class="font-weight-bold">Administrator</small>
                <div class="d-flex align-items-center">
                    <img src="https://i.pravatar.cc/" alt="" width="40" height="40" class="rounded-circle"/>
                    <div class="font-weight-bold ml-2">Hector Saldaña Espinoza</div>
                </div>
            </div>
        </div>
        <div class="list-group list-group-flush border-0 card text-center text-md-left">
            <!-- ------------- -->
            <a href="#" class="list-group-item d-inline-block collapsed" data-parent="#sidebar"><i
                    class="fa fa-table-columns"></i> <span class="hidden-sm-down">Dashboard</span></a>
            <!-- ------------- -->
            <a href="#" class="list-group-item d-inline-block collapsed" data-parent="#sidebar"><i
                    class="fa fa-newspaper"></i> <span class="hidden-sm-down">Blog</span></a>
            <!-- ------------- -->
            <a href="#menu1" class="list-group-item d-inline-block collapsed" data-toggle="collapse"
               data-parent="#sidebar" aria-expanded="false"><i class="fa-solid fa-paw"></i> <span
                    class="hidden-sm-down">Mascotas </span><i class="fa-solid fa-angle-down"></i></a>
            <div class="collapse" id="menu1">
                <a href="#" class="list-group-item" data-parent="#menu1">Solicitudes nuevas mascotas</a>
                <a href="#" class="list-group-item" data-parent="#menu1">Solicitudes de adopción</a>
                <a href="#" class="list-group-item" data-parent="#menu1">Gestión</a>
            </div>
            <!-- ------------- -->
            <a href="#menu2" class="list-group-item d-inline-block collapsed" data-toggle="collapse"
               data-parent="#sidebar" aria-expanded="false"><i class="fa-solid fa-user"></i> <span
                    class="hidden-sm-down">Usuarios </span><i class="fa-solid fa-angle-down"></i></a>
            <div class="collapse" id="menu2">
                <a href="#" class="list-group-item" data-parent="#menu2">Solicitudes nuevos usuarios</a>
                <a href="#" class="list-group-item" data-parent="#menu2">Gestión</a>
            </div>
            <!-- ------------- -->
            <a href="#" class="list-group-item d-inline-block collapsed" data-parent="#sidebar"><i
                    class="fa-brands fa-cc-paypal"></i> <span class="hidden-sm-down">Donativos</span></a>
            <!-- ------------- -->
            <a href="#" class="list-group-item d-inline-block collapsed" data-parent="#sidebar"><i
                    class="fa-solid fa-dog"></i> <span class="hidden-sm-down">Tipos</span></a>
            <!-- ------------- -->
            <a href="#" class="list-group-item d-inline-block collapsed" data-parent="#sidebar"><i
                    class="fa-solid fa-face-grin-stars"></i> <span class="hidden-sm-down">Caracteres</span></a>
            <!-- ------------- -->
            <a href="#" class="list-group-item d-inline-block collapsed" data-parent="#sidebar"><i
                    class="fa-solid fa-chart-column"></i> <span class="hidden-sm-down">Tamaños</span></a>
            <!-- ------------- -->
            <a href="#" class="list-group-item d-inline-block collapsed" data-parent="#sidebar"><i
                    class="fa-solid fa-bookmark"></i> <span class="hidden-sm-down">Etiquetas</span></a>
            <!-- ------------- -->
            <a href="#" class="list-group-item d-inline-block collapsed" data-parent="#sidebar"><i
                    class="fa-solid fa-paintbrush"></i> <span class="hidden-sm-down">Colores</span></a>
            <!-- ------------- -->
            <a href="#" class="list-group-item d-inline-block collapsed" data-parent="#sidebar"><i
                    class="fa-solid fa-universal-access"></i> <span class="hidden-sm-down">Roles</span></a>
            <!-- ------------- -->
            <a href="#" class="link-btn text-white"><i class="fa-solid fa-arrow-right-from-bracket"></i> Cerrar
                sesión</a>
        </div>
    </div>
    <div class="col-10 float-left col main">
<!--        <a href="#" data-target="#sidebar" data-toggle="collapse"><i class="fa fa-navicon fa-lg py-2 p-1"></i></a>-->

        <h1>Dashboard</h1>

        <footer th:replace="components/htmlComponents::htmlFooter"/>
    </div>
</div>


</body>
</html>