<!DOCTYPE html>
<html lang="es"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="components/htmlComponents::htmlHead"/>
<body class="d-flex flex-column min-vh-100">
<header th:replace="components/navbars::navbar-all"></header>

<section class="donation" id="donation">
    <div class="container">
        <div class="row min-vh-100 align-items-center">
            <div class="content">
                <h3 class="head-text">
                    Ayuda ahora a salvar
                    <b>angeles.</b>
                </h3>
                <p class="p-text">
                    El monto de la donación irá 100% para el centro adoptivo 'AdoptaMe'
                    el cual está destinado a salvar a animales de la calle.
                </p>
                <a href="#contact" class="link-btn p-3 p-sm-4 p-md-4">Donar ahora con PayPal<i
                        class="fa-brands fa-paypal ml-3"></i></a>
            </div>
        </div>
    </div>
</section>

<section class="pets container">
    <h1 class="heading">¡Nuevos Amigos!</h1>
    <div class="box-container">

        <div class="box" th:each="p:${list}">
            <div class="image">
                <img th:src="${p.images.get(0).image}" th:alt="${p.name}"/>
                <a th:href="@{/pets/filter}" class="fas fa-heart"></a>
            </div>
            <h3 th:text="${p.name}"/>
            <h6 class="text-muted" th:text="|${p.type.name} - ${p.breed}|" />
            <div class="card-description mt-3 mb-2">
                <span>
                    <i class="fa-solid fa-cake-candles mr-1"></i>
                    <span th:text="${p.age}"/>
                </span>
                <span>
                    <i class="fa-solid fa-bone mr-1"></i>
                    <span th:text="${p.size.name}"/>
                </span>
                <br>
                <span>
                    <i class="mr-1 fa-solid" th:classappend="${p.gender?'fa-mars':'fa-venus'}"></i>
                    <span th:text="${p.gender ? 'Macho':'Hembra'}"/></td>
                </span>
                <span>
                   <i class="fa-solid fa-palette mr-2"></i>
                    <span th:text="${p.color.name}"/>
                </span>
            </div>
            <div class="stars d-flex justify-content-center mx-3 mb-2">
                <span class="badge text-muted" th:style="|background-color: ${p.color.hex_code}; -webkit-text-stroke: 0.1px yellow;|" th:text="${p.character.name}"/>
            </div>
            <h4><i class="fa-solid fa-calendar mr-1"></i>
                <span th:text="${#temporals.format(p.createdAt,'dd-MMM-yyyy')}"/>
            </h4>
        </div>

    </div>
</section>

<footer th:replace="components/htmlComponents::htmlFooter"/>

</body>
</html>
