<!DOCTYPE html>
<html lang="es"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="components/htmlComponents::htmlHead"/>
<body class="d-flex flex-column min-vh-100">
<header sec:authorize="hasRole('ROLE_ADMINISTRATOR')" th:replace="components/navbars::navbar-admin"/>
<header sec:authorize="hasRole('ROLE_VOLUNTEER')" th:replace="components/navbars::navbar-voluntario"/>
<header sec:authorize="hasRole('ROLE_ADOPTER')" th:replace="components/navbars::navbar-adoptador"/>
<div class="container py-3">
    <div th:replace="components/titles::titles ('Mascotas', ${ {'Mascotas','Lista'} })"/>

    <a type="button" class="btn btn-success my-2" th:href="@{/pets/admin/form}">
        <em class="fa-solid fa-plus"></em> Agregar nueva
    </a>

    <table id="datatable" class="table table-striped" aria-describedby="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Género</th>
            <th scope="col">Edad</th>
            <th scope="col">Tipo</th>
            <th scope="col">Raza</th>
            <th scope="col">Adoptada</th>
            <th scope="col">Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="i,c: ${list}">
            <td th:text="${c.count}"/>
            <td th:text="${i.name}"/>
            <td><span class="badge" th:classappend="${i.gender ? 'badge-success':'badge-primary'}" th:text="${i.gender ? 'Macho':'Hembra'}"/></td>
            <td th:text="${i.age}"/>
            <td th:text="${i.type.name}"/>
            <td th:text="${i.breed}"/>
            <td><span class="badge" th:classappend="${i.isAdopted ? 'badge-success':'badge-danger'}" th:text="${i.isAdopted ? 'Si':'No'}"/></td>
            <td class="d-flex justify-content-around">
                <a th:href="@{/pets/admin/edit/{id} (id=${i.id})}" class="btn btn-warning">
                    <i class="fa-solid fa-pen"></i>
                </a>
                <a th:href="@{/petsImages/images/{id} (id=${i.id})}" class="btn btn-info">
                    <i class="fa-solid fa-images"></i>
                </a>
                <form th:action="@{/pets/admin/delete/{id} (id=${i.id})}" onsubmit="return false">
                    <button type="submit" class="btn btn-danger" onclick="confirmSweetAlert(this.parentElement)">
                        <i class="fa-solid fa-trash"></i>
                    </button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<footer th:replace="components/htmlComponents::htmlFooter"/>

</body>
</html>