<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="components/htmlComponents::htmlHead"/>
<body>
<header th:replace="components/navbars:: navbar-admin"></header>
<div class="container py-3">
    <div th:replace="components/titles::titles ('Tipos', ${ {'Tipos','Lista'} })"></div>
    <a type="button" class="btn btn-success my-2" th:href="@{/type/form}">
        <i class="fa-solid fa-plus"></i> Agregar nueva
    </a>
    <table id="datatable" class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Descripción</th>
            <th scope="col">Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="i: ${list}">
            <td th:text="${i.id}">dfg</td>
            <td th:text="${i.name}">dfg</td>
            <td th:text="${i.description}">dfg</td>
            <td>
                <a th:href="@{/type/edit/{id} (id=${i.id})}" class="btn btn-warning">
                    <i class="fa-solid fa-pen"></i>
                </a>
                <form th:action="@{/type/delete/{id} (id=${i.id})}" onclick="confirmSweetAlert(this)">
                    <button type="submit" class="btn btn-danger">
                        <i class="fa-solid fa-trash"></i>
                    </button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>


    <input hidden type="text" id="noty_save" th:placeholder="${noty_save}" value="Mascota guardada"/>
    <input hidden type="text" id="noty_deleted" th:placeholder="${noty_deleted}" value="Mascota eliminada"/>


</div>
<footer th:replace="components/htmlComponents::htmlFooter"/>
</body>
</html>