<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="components/htmlComponents::htmlHead"/>
<body>
<header th:replace="components/navbars:: ''+${navbar}"></header>
<div class="container py-3">
    <div th:replace="components/titles::titles ('Tipos', ${ {'Tipos','Lista'} })"></div>
    <table id="datatable" class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Descripción</th>
            <th scope="col" colspan="2">Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="i: ${list}">
            <td th:text="${i.id}"/>
            <td th:text="${i.name}"/>
            <td th:text="${i.description}"/>
            <td>
                <button type="button" class="btn btn-warning">
                    <i class="fa-solid fa-pen"></i>
                </button>
            </td>
            <td>
                <button type="button" class="btn btn-danger">
                    <i class="fa-solid fa-trash"></i>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<footer th:replace="components/htmlComponents::htmlFooter"/>
</body>
</html>