@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
:root {
    --orange: #F47A1F;
    --orange-light: #F47A1F;
    --black: #393939;
    --white: #fff;
    --light-color: #666;
    --light-bg: #eef1f9;
    --border: .2rem solid rgba(0, 0, 0, .1);
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 6.5rem;
}

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none !important;
}

section {
    padding: 7rem 2rem;
}

.heading {
    text-align: center;
    color: var(--black);
    text-transform: uppercase;
    font-weight: bolder;
    margin-bottom: 3rem;
}

.link-btn {
    display: inline-block;
    padding: 0.5em 2em;
    border-radius: .5rem;
    background-color: var(--orange);
    cursor: pointer;
    color: var(--white);
}

.link-btn:hover {
    background-color: var(--black);
    color: var(--white);
}

.header {
    padding: 1rem;
    border-bottom: var(--border);
}

.header.active {
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    border: 0;
}

.header .logo {
    color: var(--black);
    font-weight: bold
}

.header .logo span {
    color: var(--orange);
}

.header .nav a {
    margin: 0 1rem;
    color: var(--black);
}

.header .nav a:hover {
    color: var(--orange);
}

#menu-btn {
    color: var(--black);
    cursor: pointer;
    display: none;
}

.home {
    background: url(../img/home-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content {
    width: 55rem;
    padding: 2rem;
}

.home .content p {
    line-height: 2;
    color: var(--light-color);
    padding: 1rem 0;
}

.carrusel {
    background-color: var(--white);
}

.carrusel img {
    border-radius: 10px;
}

.carrusel .carousel-box {
    border-radius: 10px;
    box-shadow: 0 .5rem 3rem var(--orange)
}

.about .row {
    min-height: 50vh;
}

.about .content span {
    color: var(--orange);
}

.about .content h3 {
    color: var(--black);
    margin-top: 1rem;
}

.about .content p {
    padding: 1rem 0;
    color: var(--light-color);
    line-height: 2;
}

.about img {
    border-radius: 5px;
    box-shadow: 0 .5rem 1rem var(--light-color)
}

.adopt {
    background-color: var(--light-bg);
}

.adopt .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 3rem;
}

.adopt .box-container .box {
    text-align: center;
    padding: 2rem;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    border-radius: 5px;
}

.adopt .box-container .box img {
    margin: 1rem 0;
    height: 4rem;
}

.adopt .box-container .box h3 {
    padding: 1rem 0;
    color: var(--black);
}

.adopt .box-container .box p {
    color: var(--light-color);
    line-height: 2;
}

.process .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
}

.process .box-container .box {
    background-color: var(--orange-light);
    padding: 2rem;
    border-radius: .5rem;
    text-align: center;
    box-shadow: var(--box-shadow);
}

.process .box-container .box img {
    height: 20rem;
    margin: 1rem 0;
}

.process .box-container .box h3 {
    color: var(--white);
    margin: 1.5rem 0;
}

.process .box-container .box p {
    color: var(--white);
    line-height: 2;
}

.footer {
    background-color: var(--black);
}

.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 3rem;
    border-bottom: var(--border);

}

.footer .box-container .box {
    text-align: center;
}

.footer .box-container .box i {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    line-height: 5rem;
    background-color: var(--orange);
    color: var(--white);
}

.footer .box-container .box h3 {
    /*font-size: 2rem;*/
    margin: 2rem 0;
    color: var(--black);
}

.footer .box-container .box p {
    color: var(--light-color);
    text-transform: none;
}

@media (max-width: 991px) {
    section {
        padding: 5rem 2rem;
    }
}

@media (max-width: 768px) {
    section {
        padding: 3rem 1rem;
    }

    #menu-btn {
        display: inline-block;
        transition: .2s linear;
    }

    #menu-btn.fa-times {
        transform: rotate(180deg);
    }

    .header .nav {
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        background-color: var(--white);
        border-top: var(--border);
        border-bottom: var(--border);
        padding: 1rem 0;
        text-align: center;
        flex-flow: column;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: .2s linear;
    }

    .header .nav.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .header .nav a {
        margin: 1rem 0;
    }

    .home {
        background-position: left;
    }

    .home .content {
        width: auto;
    }
}

