<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="components/htmlComponents::htmlHead"/>
<body class="d-flex flex-column min-vh-100">
<header th:replace="components/navbars::navbar-all"></header>
<section class="home" id="home">
    <div class="container">
        <div class="row min-vh-100 align-items-center ">
            <div class="content">
                <h3 class="head-text">
                    Adopta a tu compañero
                    <b>de vida.</b>
                </h3>
                <p class="p-text">
                    Adopta hoy mismo a una de las miles mascotas que se encuentran en
                    adopción y devuelvele la vida a un ser, que a comparación...te
                    devolvera la vida mil veces. =)
                </p>
                <a href="mascotas.html" class="link-btn p-3 p-sm-4 p-md-4">Ver animales en adopción<i
                        class="fa-solid fa-paw ml-3"></i></a>
            </div>
        </div>
    </div>
</section>

<section class="carrusel" id="carrusel">
    <h1 class="heading">¡Nuestro Blog!</h1>
    <div class="swiper-container home-slider">
        <div class="swiper-wrapper wrapper">
            <div class="swiper-slide slide" th:each="news : ${mainNews}">
                <div class="content">
                    <div class="p-2">
                        <div class="row ml-2 mt-1">
                            <span class="ml-3"><i class="fa-solid fa-user-pen mr-2"></i>Por:</span>
                            <span class="ml-1"th:text="${news.user.profile.getPartialName()}" />
                            <span class="ml-3 date"><i class="fa-solid fa-calendar mr-2"></i></span>
                            <span class="date" th:text="${#temporals.format(news.createdAt,'yyyy-MM-dd')}"/>
                        </div>
                    </div>
                    <h3 th:text="${news.title}"></h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit
                        natus dolor cumque?
                    </p>
                    <a href="admin.html" class="link-btn">Leer más<i
                            class="fa-solid fa-book-open-reader ml-4"></i></a>
                </div>
                <div class="image">
                    <img class="card-img-top img-fluid blog-img" th:src="${news.image}" alt="banner">
                </div>
            </div>
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</section>

<section class="about" id="about">
    <div class="container">
        <h2 class="heading">SOBRE NOSOTROS</h2>
        <div class="row align-items-center">
            <div class="col-md-6 image">
                <img th:src="@{/img/about-img.jpg}" class="w-100"/>
            </div>
            <div class="col-md-6 content mt-4">
                <h3>Nos duele ver ángeles ignorados, humillados y sufriendo.</h3>
                <p>
                    AdoptaMe es una plataforma digital que reúne personas voluntarias como protectores de animales y
                    adoptadores que buscan
                    adoptar una mascota.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="adopt" id="adopt">
    <h1 class="heading mb-4">¿Porque adoptar?</h1>
    <div class="row">
        <div class="col-xl-12 col-xxl-5 d-flex box-container px-5">
            <div class="w-100">
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-4 card-container mt-4">
                        <div class="box">
                            <img th:src="@{/img/icon-1.svg}" alt="" />
                            <h3>Experiencia única</h3>
                            <p>
                                Adoptar una mascota es una experiencia de vida única para
                                cualquier ser humano. Los animales son seres que saben amar
                                sin medida y muy bondadosos.
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4 card-container mt-4">
                        <div class="box">
                            <img th:src="@{/img/icon-2.svg}" alt="" />
                            <h3>Felicidad infinita</h3>
                            <p>
                                Aporta un sentimiento de felicidad inexplicable, más aún
                                cuando sabemos que ese acto de amor estará salvando a un
                                angel.
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4 card-container mt-4">
                        <div class="box">
                            <img th:src="@{/img/icon-3.svg}" alt="" />
                            <h3>Hazlo por ellos</h3>
                            <p>
                                Existen más de 60 millones de animales en la calle en
                                Latinoamérica, sufriendo hambre, frío y maltrato.
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4 card-container mt-4">
                        <div class="box">
                            <img th:src="@{/img/icon-4.svg}" alt="" />
                            <h3>No te juzgan</h3>
                            <p>
                                Los animales son seres que saben amar sin medida y muy
                                bondadosos.
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4 card-container mt-4">
                        <div class="box">
                            <img th:src="@{/img/icon-5.svg}" alt="" />
                            <h3>Es saludable</h3>
                            <p>
                                Tener una mascota tiene un impacto positivo en tu salud
                                física y emocional.
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4 card-container mt-4">
                        <div class="box">
                            <img th:src="@{/img/icon-6.svg}" alt="" />
                            <h3>Creces propiamente</h3>
                            <p>Incentiva la confianza, empatía y motivación personal.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="process">
    <h1 class="heading">PROCESO DE ADOPCIÓN</h1>
    <div class="box-container container">
        <div class="row">
            <div class="p-2 col-sm-12 col-md-6 col-lg-4">
                <div class="box">
                    <img class="img-fluid" th:src="@{/img/process-1.png}"/>
                    <h3>1.- Encuentra a tu tipo</h3>
                    <p>
                        Realiza una visita al centro de adopción dónde podras conocer
                        personalmente a tu nuevo amigo.
                    </p>
                </div>
            </div>
            <div class="p-2 col-sm-12  col-md-6 col-lg-4">
                <div class="box">
                    <img class="img-fluid" th:src="@{/img/process-2.png}"/>
                    <h3>2.- Inicien una gran aventura</h3>
                    <p>Recibelo en su nuevo hogar con todo el amor</p>
                </div>
            </div>
            <div class="p-2 col-sm-12  col-md-12 col-lg-4">
                <div class="box">
                    <img class="img-fluid"th:src="@{/img/process-3.png}"/>
                    <h3>3.- Dale todo tu amor</h3>
                    <p>
                        Recuerda hacer actividades con el, como ir al parque, jugar con el,
                        enseñarle cosas nuevas y más.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<footer th:replace="components/htmlComponents::htmlFooter"/>
</body>
</html>
