<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="components/htmlComponents::htmlHead"/>
<body>
<header th:replace="components/navbars:: navbar-admin"/>
<div class="container py-3">
    <div th:replace="components/titles::titles ('Roles', ${ {'Roles','Formulario'} })"/>
    <form th:action="@{/role/save}" method="post" th:object="${role}">
        <input type="hidden" id="id" name="id" th:field="*{id}"/>
        <div class="form-group">
            <label for="type">Nombre:</label>
            <input type="text" class="form-control"
                   id="type" name="type"
                   aria-describedby="typeHelp"
                   placeholder="Ej: Voluntario"
                   th:classappend="${#fields.hasErrors('type')?'is-invalid':''}"
                   th:field="*{type}"
                   autofocus
                   required
                   minlength="2"
                   maxlength="10"
                   pattern="[A-Za-zÀ-ÿ '-.]*"
            />
            <div id="nameHelp"
                 th:classappend="${#fields.hasErrors('type')?'invalid-feedback':''}"
                 th:errors="*{type}">
            </div>
        </div>
        <div class="form-group">
            <label for="description">Descripción:</label>
            <input type="text" class="form-control"
                   id="description" name="description"
                   aria-describedby="descriptionHelp"
                   placeholder="Ej: Ejecuta acciones"
                   th:classappend="${#fields.hasErrors('description')?'is-invalid':''}"
                   th:field="*{description}"
                   pattern="[A-Za-zÀ-ÿ '-.]*"
            />
            <div id="descriptionHelp"
                 th:classappend="${#fields.hasErrors('description')?'invalid-feedback':''}"
                 th:errors="*{description}">
            </div>
        </div>
        <button type="submit" class="btn btn-success">Guardar</button>
    </form>
</div>
<footer th:replace="components/htmlComponents::htmlFooter"/>
</body>
</html>