<!DOCTYPE html>
<html lang="es">
<head th:replace="components/htmlComponents::htmlHead"/>

<body>
<main class="error d-flex w-100 h-100">
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="mt-5 mt-lg-0  px-2 p-lg-5 col-lg-4">
                <div class="pt-lg-5 p-lg-0 mx-auto col-sm-8 col-md-6 col-lg-12">
                    <div class="text-center">
                        <h3>
                            ERROR<br/>
                            <b>405</b>
                        </h3>
                        <p class="main-text">
                           Método no permitido
                        </p>
                        <p class="secondary-text">
                            Lo sdiento pero... <br> tu mascota aún no sabe hacer ese truco
                        </p>
                        <a th:href="@{/}" class="link-btn-error my-3">Volver al Inicio</a>
                    </div>
                </div>
            </div>
            <div class="mt-0 mt-lg-5 d-lg-flex align-items-center col-10 col-sm-12 col-lg-8">
                <div class="mt-0 mt-lg-5 w-100 d-lg-flex align-items-center justify-content-center">
                    <img src="/img/error-405.svg" alt="error-500" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</main>
</html>
