<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="icon" th:href="@{/img/logo.svg}" type="image/x-icon"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <title>Contraseña Olvidada</title>
</head>
<body id="email-style" style="background-color: #f2f7ff">
<main class="d-flex w-100 h-100">
    <div class="container d-flex flex-column">
        <div class="row vh-100">
            <div class="col-sm-10 col-md-8 col-lg-5 mx-auto d-table h-100">
                <div class="d-table-cell align-middle">
                    <div class="card px-5 py-3">
                        <div class="text-center mt-4">
                            <img th:src="@{/img/logo.svg}" alt="..." class="">
                            <p class="text-logo mt-0">Adopta<span class="text-logo-sec">Me.</span></p>
                        </div>
                        <div class="text-center">
                            <h1 class="h2 mb-3">¿Olvidaste tu contraseña?</h1>
                            <p class="lead m-0">
                                Ingresa tu correo electrónico dónde te enviaremos las instrucciones
                                para restablecer tu contraseña.
                            </p>
                        </div>
                        <div class="card-body p-0">
                            <div class="mt-4">
                                <form th:action="@{/user/forgotPassword}" method="post" >
                                    <div class="mb-3">
                                        <label class="form-label">Correo Electrónico</label>
                                        <input type="email" class="form-control"
                                               id="email" name="email"
                                               aria-describedby="emailHelp"
                                               placeholder="Ej: hector@gmail.com"
                                               autofocus
                                               required
                                               minlength="5"
                                               maxlength="50"
                                        />
                                    </div>
                                    <div class="text-center my-4">
                                        <button href="" class="btn link-btn" type="submit">Envíar Correo<i class="fa-solid fa-envelope ml-3"></i></button>
                                        <br>
                                        <a th:href="@{/request/login}" class="btn back-btn mt-4"><i class="fa-solid fa-angle-left mr-3"></i>Volver al inicio de sesión</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script th:src="@{/js/jquery-3.2.1.slim.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/script.js}"></script>
</body>
</html>